*{
    color: white;
}

body{
    background: linear-gradient(to right, purple, black, black, black, purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#mainContent{
  max-width: 600px;       /* or width: 600px; */
  overflow-wrap: break-word;
  word-break: break-word; /* for better browser support */
  white-space: normal;    /* just to be sure */
}

.link{
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
    color: blueviolet;
}

#goBackToEnc:hover{
    background-color: rgba(128, 0, 128, 0.271);
    color: rgb(255, 0, 0);
}

#goBackToDec:hover{
    background-color: rgba(128, 0, 128, 0.271);
    color: rgb(26, 255, 0);
}